@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
body {
  font-family: "Josefin Sans", sans-serif;
}
link {
  transition-delay: 1.5s;
  transition-duration: 0.7s;
}

#potoo {
  width: 250px;
  border-radius: 80%;
  border: 2px orange;
}
.link-home {
  color: white;
}

.section-title {
  margin: 0;
  padding: 20px;
  color: white;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* display: flex;
  width: 100%;
  justify-content: center;
  font-size: xx-large;
  font-weight: 500;

  background-position: center;
  align-items: justify;
  box-sizing: fit-content; */
}

.HEADER-PROFILE {
  text-align: center;
  /* margin: 30px; */
  margin-bottom: 50px;
}

.potoo2 {
  margin-top: 5px;
  width: 50px;
}
.Link-font {
  color: orange;
}

.center-title {
  padding-top: 10px;
  text-align: center;
}

.Article-About {
  color: whitesmoke;
  background-color: #2980b9;
  font-style: normal;
  font-weight: 299;
  /* outline: auto; */
  padding: 15px;
}

#Navbar a {
  background-color: #2980b9;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
}

nav {
  margin: 0;
  background-color: #2980b9;
  position: sticky;
  z-index: 999;
  padding: 25px;
  width: 100%;
  top: 0;
}

.nav-link {
  display: inline;
  /* gap: ; */
  margin-right: 10px;
}

header {
  width: 100%;
  /* margin-bottom: 50px; */
}
/* 
.Navbar {
  position: sticky;
  top: 0;
  width: 100%;
} */
/* .Body {
  padding-top: 60px;
} */
a {
  color: orange;
  font-weight: 300;
}
a:hover {
  color: white;
  font-size: larger;
  font-style: none;
}
.tdd {
  font-weight: 300;
  color: black;
}

table {
  border: none;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  /* background-image: url(img/background-web.jpg);
  background-repeat: no-repeat; */
  /* background-size: 100% 100%; */
}

h1 {
  margin: 0;
  justify-content: center;
  background-color: orange;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h4 {
  color: white;
}
/* h1 {
  display: flex;
  align-content: center;
  font-size: x-large;
  width: 100%;
  margin-top: 100px;
  top: 0;
} */
.table-moment {
  padding-top: 16px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: whitesmoke;
  border-radius: 15px;
  align-items: center;
  box-sizing: content-box;
  text-align: center;
}
.gambar-moment {
  border-radius: 15px;
}
/* .moment-ar {
  display: flex;
  justify-content: space-around;
} */
#satu {
  background-color: #2980b9;
}
#dua {
  background-color: orange;
}

footer {
  background-color: #ff5500;
  padding: 10px;
  margin: 0;
}

footer p {
  color: white;
}

/* footer p {
  width: 100%;
  margin-top: 0;
  padding-top: 2rem;
  padding: 0;
  background-color: #ff5500;
  padding-top: 10px;
  color: white;
  text-align: center;
} */

/* .image-ar2 {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
} */
.article-relatives {
  text-align: justify;
  width: 100%;
}
.table-relatives {
  background-color: rgba(196, 196, 27, 0.74);
  border-radius: 10px;
  padding: 9px;
  color: darkblue;
}
.link-relatives {
  color: darkblue;
  font-style: normal;
}
.image-profile {
  width: 130px;
  border-radius: 50%;
}
.table-profile {
  border: 1px solid black;
  width: 45%;
  background-color: #ff5500c0;
  color: white;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}
.relatives-section {
  padding: 10px;
  margin: 0;
}

.cards-section {
  row-gap: 15px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.table-profile:hover {
  background-color: white;
  color: #ff5500;
  outline-color: #ff5500;
  width: 43%;
  cursor: pointer;
  margin-left: 0px;
  margin-right: 30px;
}
.row1 {
  display: flex;
  align-content: stretch;
  height: 160px;
}
.row2 {
  margin-top: 70px;
  display: flex;
  align-content: space-between;
  height: 160px;
}
.row3 {
  margin-top: 60px;
  display: flex;
  align-content: space-between;
  height: 160px;
}
h2 {
  color: #2980b9;
}
.card-display {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  justify-content: space-evenly;
}
.home-page {
  background-image: url(img/1920x1080-px-abstract-hexagon-minimalism-simple-nature-water-hd-art-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.image-utissa-logo {
  box-shadow: 2px;
}
.PROJECTS {
  margin-top: 30px;
}
.project-section {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 60px;
}
.project-card p {
  margin-left: 65px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.project-card {
  background: linear-gradient(to right, #00a8ff, #0097e6, #1d8099, #a4c724, #f39c12, #e67e22);
  border-radius: 15px;
}
